.tasks-box{
    background-color: #fff;
}

.tasks-box .mat-tab-label-content{
    color: black;
}

.mat-tab-label{
    width: 33%;
}

.icon-box{
    height: 2em;
    text-align: center;
    font-size: 1.5rem;
}

.status-style{
    font-family: 'Dancing Script', cursive;
}