<div mat-dialog-title>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <label class="col-lg-11 col-md-11 col-sm-11 control-label" for="email">
                    <h2>Task Title</h2>
                </label>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <button class="">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-dialog-content class="mat-typography modal-width">
    <div class="col-lg-12 col-md-12 col-sm-12 default-width mb-2" *ngFor="let item of items">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Etapa Title
                    </mat-panel-title>
                    <mat-panel-description>
                    Description if exist --commit text
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <p>
                        Yes I am a content
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <button type="button" class="btn btn-primary" (click)="addNewStepTask()">Adicionar etapa</button>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="createNewTask()" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>