<section>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="messageInitial">
            <span>
                Não existe nenhuma tarefa no momento, vamos trabalhar amigo?
            </span>
            <button mat-fab color="primary">Plus-Icon</button>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 task-box mt-2 mb-2">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 aling-vertical">
                <div>
                    <span>Task Title</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 aling-vertical">
                <span>Data Inicio: DD/MM/YY - HH:MM:SS</span>
                <span>data fim: DD/MM/YY - HH:MM:SS</span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 icon-box aling-vertical">
                        <i class="fa fa-play cursor-pointer" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 icon-box aling-vertical">
                        <i class="fa fa-pencil cursor-pointer" (click)="editTaskDialog()" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 status-style aling-vertical">
                <span>Em Andamento</span>
            </div>
        </div>
    </div>
</section>